@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans;
}

.efficiently-blue {
  background-color: #46bcff;
}

.input:focus {
  outline: none !important;
  border: 1px solid yellow;
  box-shadow: 0 0 10px #719ece;
}
